.movieContainer {
  max-height: 45rem;
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  animation: slideFromLeft 0.3s ease-in;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.star {
  font-size: 20px;
  color: rgb(241, 200, 78);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
